body {
    position: relative;
    background: #74378c;
}
#user_img {
    position:absolute;
    left: 147.5px;
    z-index:0;
    pointer-events: none;
}

#user_frame {
    position:absolute;
    left: 147.5px;
    z-index:1;
    pointer-events: none;
}

img {
	object-fit:scale-down;
    pointer-events: none;
}

body {
    position: relative; 
}
.kev{
  color: black;
}
h3{
    color: black;
}
.text{
    text-align: center;
}
.color-dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black 5px;
    display: inline-block;
}

.btn-leaderboard {
    width:297.5px;
}

tr, th, td {
    vertical-align: middle;
    text-align: center;
}

.slider {
    width: 90%;
    margin:auto;
}

.slick-prev, .slick-prev:focus, .slick-next, .slick-prev:focus {
    font-family:initial!important;
    position: absolute;
    filter: invert(100%);
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: #002345 !important;
    border-color: #002345 !important; 
}

.page-link {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important; 
}

.page-link:hover {
    color: #fff !important;
    background-color: #002345 !important;
    border-color: #002345 !important; 
}

.dataTables_filter input {
    color: white!important;
    background-color: #002345!important;
}

.dataTables_filter {
    color: white;
}

.dataTables_length .form-select {
    color: white!important;
    background-color: #002345!important;
}

.dataTables_length {
    color: white;
}

.dataTables_length select {
    color: white;
}

.dataTables_info {
    color: white;
}

a.dropdown-item:hover {
    background-color:#74378c;
} 